* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }
  .todo-header {
    margin: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .todo-title-text {
    font-size: 2.8rem;
  }
  
   #todo-filter {
    font-size: 2.0rem;
    
    
  } 
  
  .todo-header select {
    background-color: #208eef;
    color: #fff;
    text-align: center;
    padding: 0.4rem 0.6rem;
    border-radius: 9px;
  }
  
  .todo-container {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }